[Taps]
tap1_gpio_pin: 24
tap2_gpio_pin: 26 
tap3_gpio_pin: 12 
tap4_gpio_pin: 13
tap1_beer_name: tap1name
tap2_beer_name: tap2name
tap3_beer_name: tap3name
tap4_beer_name: tap4name


[Temperature]
enabled: True
endpoint: http://10.0.1.48:8888/chillerf

[Twitter]
enabled: True
consumer_key="reowC2h6pDSVscIYjwTpoHbdo"
consumer_secret="GimzIKeij8nzQBm7FvJSBWH7bClEkqNLPEeeocqUw3AnKXFXcP"
access_token="1549176829-egexxImKAWA65IPK49kHhCPEh4H9NUM8bdrcTMP"
access_token_secret="JUgjCETvBd4EJ0msBStf1AU5LGfGpiQJLk5xeXa8wBXp9"

[Logging]
file: /tmp/beer.log

[Scrollphat]
enabled: True

[Mqtt]
enabled: True
broker: 10.0.1.128
port: 1883

[Pushbullet]
api_key=o.OMS2bxYwyKd3Mcg02xH7HNdJ49EU9sxq

[Untappd]
api_key=asdf
